<h2><%= deck.name %> Metrics:</h2>
<%= link_to 'Back to Deck', deck %>

<div id="recommend">
  <% if current_user.recommends?(@deck) %>
    <%= button_to "Unrecommend This Deck", @recommend, remote: true, method: :delete %>
  <% else %>
    <%= button_to "Recommend This Deck", deck_recommends_path(@deck), remote: true %>
  <% end %>
</div>

<ul>
  <% results.each do |result| %>
    <li>
      <%= image_tag result.card.image_url, size: '50x50' %>
      <div>
        Correct Answer: <%= result.card.back %>
      </div>
      Your Guesses: 
      <% result.guesses.each do |guess| %>
        <%= guess %>
      <% end %>
    </li>
  <% end %>
</ul>
