<h2><%= @deck.name %> Metrics:</h2>
<ul>
  <li>Correct: <%= @deck.num_correct %></li>
  <li>Attempts: <%=  @deck.num_attempts %></li>
  <li>Guesses: <%= @deck.num_guesses %></li>
</ul>

<div id="recommend">
  <% if current_user.recommends?(@deck) %>
    <%= button_to "Unrecommend This Deck", @like, remote: true, method: :delete %>
  <% else %>
    <%= button_to "Recommend This Deck", deck_likes_path(@deck), remote: true %>
  <% end %>
</div>

<%= @guess_bank %>
