<h2><%= @deck.name %> Metrics:</h2>
<ul>
  <li>Correct: <%= @deck.num_correct %></li>
  <li>Attempts: <%=  @deck.num_attempts %></li>
  <li>Guesses: <%= @deck.num_guesses %></li>
</ul>
<%= @guess_bank %>
