<% @cards.each do |card| %>
<<<<<<< HEAD
  <div class="<%= dom_id card %>">
    <div class="front-<%= dom_id card %>">
      <%= card.front %>
    </div>
    <div class="back-<%= dom_id card %>" style="display:none">
      <%= card.back %>
    </div>
  </div>
=======
  <%= div_for card do %>
    <div class="<%= dom_id card, 'front' %>">
      <%= card.front %>
    </div>
    <div class="<%= dom_id card, 'back'  %>" style="display:none">
      <%= card.back %>
    </div>
  <% end %>
>>>>>>> Initial Commit
<% end %>

<%= button_tag "Flip" %>
<%= button_tag "Previous" %>
<%= button_tag "Next" %>
