<h2><%= @deck.name %></h2>

<%= button_to "Quiz", deck_test_path(@deck), method: :get %>
<%= button_to "Study", deck_cards_path(@deck), method: :get %>
<%= button_to "Edit Deck", edit_deck_path(@deck), method: :get %>

<h2>Metrics:</h2>
<ul>
  <% @deck.cards.each do |card| %>
    <li><%= render 'cards/card_stats', card: card %></li>
  <% end %>
</ul>
